
/* YOUR CSS STYLES */
body {
    font-style: normal;
    font-family: georgia,"times new roman",times,serif;
}

.node circle {
    fill: #fff;
    stroke: #85144b;
    stroke-width: 3px;
}

.node text { font-size: 12px; }

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.d3-tip {
    line-height: 1;
    padding: 12px;
    background: #DDDDDD;
    color: rgba(0,0,0,0.8);
    border-radius: 2px;
}

.rounded {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.title {
    padding-top: 30px;
    text-align: center;
    ;
    font-weight: 200;
    font-size: 38px;
    font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
    line-height: 1.15;
    color: #fff;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    max-width: 620px;
    margin: 0 auto 12px auto;
}

.header {
    padding-top: 10px;
    padding-bottom: 20px;
    background: #000;
    height:600px;
    width: 100%;
}

.titleworld {
    position: absolute;
    top: 450px;
    left: 50%;
    max-width: 100%;
    margin-top: -200px; /* Half the height */
    margin-left: -162.5px; /* Half the width */
}

.cite {
    max-width: 100%;
    color: #777;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 17px;
    font-weight: 300;
    font-family: "nyt-cheltenham-sh",georgia,"times new roman",times,serif;
}

.form-control {
    width: 350px;
}

.gt {
    font-size: 25px;
    text-align: center;
    font-style: normal;
    font-family: OldLondon;
    color:#fff;
}

.info {
    padding-top: 50px;
}

.map {
    padding-top: 50px;
}

.mpic{
    padding-top: 50px;
}

.hpic{
    position: absolute;
    left: 50%;
    margin-top: 25px;
    margin-left: -350px;
}

.background {
    fill: none;
    pointer-events: all;
}

.factory{
    padding-top: 40px;
    padding-bottom: 20px;
}

.factorytext{
    text-align: center;
    margin-top: 300px;
}

.bottom{
    padding-bottom: 30px;
}

.forward{
    padding-top: 80px;
}

.green {
    padding-left: 80px;
}

#blurb{
    padding-top: 85px;
}

#keyfacts{
    padding-top: 70px;
}

#progress{
    padding-top: 20px;
}

@font-face {
    font-family: OldLondon;
    src: url(/fonts/OldLondon.ttf) format('embedded-opentype');
}



.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}